#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.container {
  border: 2px rgb(51, 50, 50) solid;
  background-color: bisque;
  height: 16em;
  width: 20em;
  border-radius: 12px;

  position: relative;
}

#title {
  height: 3em;
  width: 16em;
  margin-top: .5em;
  border-radius: 10px;
  background-color:white;
  color: black;
}

#desc {
  height: 10em;
  width: 20em;
  margin-top: .5em;
  border-radius: 10px;
  background-color:white;
  color: black;
}

#display-container {
  border: 2px black solid;
  background-color: aliceblue;
  border-radius: 10px;
  height: 10em;
  width: 15em;


  position: absolute;
  left: 20em;
  top: 20em;
}

#task-title {
  font-style: italic;
  color: black;
}

#task-body {
  font-style: bold;
  color: black;
}


#task-status {
  margin-top: 1em;
  color: black;
}
#task-delete {
  margin-top: .3em;
}
